<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To myBlog!</h1>
                <p>Upload your images here</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/images/new">Add New Image</a>
             </p>
        </div>
    </header>



    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% images.forEach(function(image){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src= "<%= image.image %>">
                    <div class="caption">
                        <h4><%= image.name %></h4>
                    </div>
                    <p>
                        <a href="/images/<%= image._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
                
            </div>
        <% }); %>
    </div>


<% include ../partials/footer %>