.thumbnail img {
    width:100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

body {
 background-image: url("https://images.unsplash.com/photo-1557277770-baf0ca74f908?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
 background-color: #cccccc;
 background-size: cover;
}

div {
    font-family: Gugi;
}

a{
    color: #000000;
}

h1 {
    color: #FFFFFF;
}